@import url('https://fonts.googleapis.com/css?family=Rubik');
body{
    font-family: 'Rubik', sans-serif;
    margin:0;
    background-color: #3CDBC0;
    }
header{
    position: fixed;
    width: 100%;
    background: white;
    margin-top:0;
    text-align: center;
    padding: 10px 0 13px;
    left: 0;
    top:0;

}
.logo{
    width: 155px;
    margin-bottom: 10px;
    display: inline-block;
}
.menu{
    text-align: center;
    
}
.item{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    color: #4a4a4a;
    text-decoration: none;
    text-transform: uppercase;
}
li{
    color:#4a4a4a;
    display: inline-block;
    font-size: 16 px;

}
.blog{
    margin-right: 20px;
}

.headline{
    height: 100vh ;
    display:flex;
    justify-content: center;
    align-items: center;

}
.headline--text{
    color:#FFFFFF;
    text-align: center;
    font-size: 30px;
    width: 162px;
    text-align: center;

}
